<div class="page-title" >
  <div class="container">
    <nav class="breadcrumbs">
      <ol>
        <li><a href="">Početna</a></li>
        <li class="current">Usluge</li>
      </ol>
    </nav>
    <h1>Usluge</h1>
  </div>
</div>

<section id="service-details" class="service-details section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" >
          <div class="services-list">
            <a href="endo" class="active" >Endodoncija</a>
            <a href="ortho">Ortodoncija</a>
            <a href="prosthetics">Protetika</a>
            <a href="oral">Oralna kirurgija</a>
          </div>
        </div>

        <div class="col-lg-8" >
          <img src="assets/endo.jpg" alt="" class="img-fluid services-img">
          <h3>Endodoncija</h3>
          <p>
            Endodoncija predstavlja ključnu uslugu za očuvanje vaših prirodnih zuba. Endodontski tretman, poznat i kao liječenje korijenskih kanala, 
            neophodan je kada je unutarnji dio zuba (pulpa) zaražen ili oštećen uslijed karijesa, traume ili drugih faktora. Naš stručni tim koristi 
            najnovije tehnologije i metode kako bi osigurao precizno i bezbolno liječenje, čime se eliminira infekcija, spašava zub i sprječava potreba za vađenjem. 
            Što nudimo kao endodontske usluge:
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> <span><strong>Liječenje korijenskih kanala</strong></span></li>
            <p>Uklanjanje zaražene ili oštećene pulpe. <br> Čišćenje, dezinfekcija i punjenje kanala.<br> Rekonstrukcija zuba nakon liječenja. </p>
            <li><i class="bi bi-check-circle"></i> <span><strong>Endodontska kirurgija</strong></span></li>
            <p>Apikotomija (uklanjanje vrha korijena zuba). <br> Sanacija periapikalnih infekcija.</p>
            <li><i class="bi bi-check-circle"></i> <span><strong>Liječenje dentalne traume</strong></span></li>
            <p>Tretman zuba oštećenih uslijed udara ili nesreće. <br> Stabilizacija i liječenje zuba s frakturama. </p>
          </ul>
          <h4>Prednost našeg pristupa</h4>
          <p>Naš tim endodonata ima bogato iskustvo i posvećenost najvišim standardima dentalne skrbi. 
            Koristimo moderne dijagnostičke alate poput digitalnih rendgena i dentalnog mikroskopa za precizno liječenje.
            Fokusiramo se na pacijentov komfor, koristeći suvremene tehnike anestezije i sedacije.
            Svaki plan liječenja prilagođavamo specifičnim potrebama i stanju zuba pacijenta.
          </p>
        </div>

      </div>

    </div>

  </section><!-- /Service Details Section -->



