<div class="page-title" >
  <div class="container">
    <nav class="breadcrumbs">
      <ol>
        <li><a href="home">Početna</a></li>
        <li class="current">Usluge</li>
      </ol>
    </nav>
    <h1>Usluge</h1>
  </div>
</div>

<section id="service-details" class="service-details section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="services-list">
            <a href="endo" >Endodoncija</a>
            <a href="ortho">Ortodoncija</a>
            <a href="prosthetics"class="active">Protetika</a>
            <a href="oral">Oralna kirurgija</a>
          </div>
        </div>

        <div class="col-lg-8">
          <h3>Protetika</h3>
          <div class="row">
            <div class="col-md-6">
              <img src="assets/prosthetics.jpeg" alt="" class="img-fluid services-img">
            </div>
            <div class="col-md-6">
              <img src="assets/prosthetics2.jpeg" alt="" class="img-fluid services-img">
            </div>
          </div>
          <p>
            <strong>Vraćanje funkcionalnosti i estetike Vašeg osmijeha</strong> <br>
            Protetika predstavlja ključnu uslugu koja vam pomaže vratiti funkcionalnost i estetiku vašeg osmijeha. 
            Naš stručni tim koristi najnovije materijale i tehnologije kako bi osigurao dugotrajne i prirodne rezultate, prilagođene vašim individualnim potrebama.<br>
          </p>
          
          
          <ul>
            <li><i class="bi bi-1-circle"></i> <span><strong>Krunice</strong></span></li>
            <p>Izrađene od keramike, porculana ili metala, krunice osiguravaju dugotrajnu snagu i prirodan izgled. <br>
              Obnavljaju oštećene ili oslabljene zube, vraćajući im funkcionalnost i estetiku.</p>
            <li><i class="bi bi-2-circle"></i> <span><strong>Mostovi</strong></span></li>
            <p>Mostovi popunjavaju praznine između zuba, koristeći susjedne zube kao potporu. <br> 
              Izrađeni tako da se savršeno uklapaju u vašu zubnu strukturu i pružaju prirodan izgled.</p>
            <li><i class="bi bi-3-circle"></i> <span><strong>Proteze</strong></span></li>
            <p>Prilagođene za pacijente koji su izgubili sve ili dio svojih zuba. <br> Dizajnirane za udobno nošenje, s mogućnošću dodatne stabilnosti uz pomoć implantata. </p>
            <li><i class="bi bi-4-circle"></i> <span><strong>Ispune: Inlay/Onlay i Veniri</strong></span></li>
            <p>Inlay i onlay ispune koriste se za obnovu oštećenih zuba, dok viniri pružaju estetski savršen osmijeh. <br>  
              Ovi postupci očuvaju što je moguće više prirodne strukture zuba. </p>
          </ul>
        </div>

      </div>

    </div>

  </section>

