<div class="page-title" >
  <div class="container">
    <nav class="breadcrumbs">
      <ol>
        <li><a href="home">Početna</a></li>
        <li class="current">Usluge</li>
      </ol>
    </nav>
    <h1>Usluge</h1>
  </div>
</div>

<section id="service-details" class="service-details section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" >
          <div class="services-list">
            <a href="endo" >Endodoncija</a>
            <a href="ortho">Ortodoncija</a>
            <a href="prosthetics">Protetika</a>
            <a href="oral"class="active">Oralna kirurgija</a>
          </div>
        </div>

        <div class="col-lg-8" >
          <h3>Oralna kirurgija</h3>
          <img src="assets/oral.jpg" alt="" class="img-fluid services-img">
          
          <p><strong>Vrhunska stručnost za optimalno oralno zdravlje</strong> <br>
            sluge oralne kirurgije pružaju vam najvišu razinu skrbi za rješavanje složenih dentalnih problema. 
            Naš tim stručnjaka koristi napredne kirurške tehnike i tehnologije kako bi osigurao sigurne, učinkovite i udobne zahvate, 
            prilagođene vašim individualnim potrebama. <br>
            Nudimo:
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> <span><strong>Vađenje Zuba</strong></span></li>
            <p>Sigurno uklanjanje zuba koji su oštećeni karijesom, traumom ili parodontitisom. <br>
              Uklanjanje impaktiranih umnjaka ili zuba s komplikacijama.</p>
            <li><i class="bi bi-check-circle"></i> <span><strong>Implantologija</strong></span></li>
            <p>Precizna ugradnja implantata koji zamjenjuju korijen izgubljenog zuba, pružajući stabilnu osnovu za krunice, mostove ili proteze. <br> 
              Povećanje volumena kosti za osiguranje dovoljne stabilnosti za implantate.</p>
            <li><i class="bi bi-check-circle"></i> <span><strong>Apikotomija</strong></span></li>
            <p>Uklanjanje vrha korijena zuba i okolne inficirane tkiva kako bi se sačuvao zub i spriječile daljnje infekcije. </p>
            <li><i class="bi bi-check-circle"></i> <span><strong>Kirurško ispravljanje gingive</strong></span></li>
            <p>Oblikovanje desni radi estetske korekcije ili poboljšanja oralnog zdravlja. </p>
            <li><i class="bi bi-check-circle"></i> <span><strong>Cistektomija</strong></span></li>
            <p>Kirurško uklanjanje cista u čeljusti radi sprječavanja komplikacija i očuvanja oralnog zdravlja. </p>
          </ul>
        </div>

      </div>

    </div>

  </section><!-- /Service Details Section -->