<header id="header" class="header d-flex align-items-center fixed-top" *ngIf="showHeaderFooter">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="" class="logo d-flex align-items-center me-auto">
      <img src="assets/logo.png" alt="">
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="">Početna</a></li>
        <li><a href="#about">O nama</a></li>
        <li class="dropdown"><a href="#services"><span>Usluge</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="endo">Endodoncija</a></li>
            <li class="dropdown"><a href="ortho"><span>Ortodoncija</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="ortho#braces">Ortodontski aparatić</a></li>
                <li><a href="ortho#aligners">Nevidljiva ortodoncija</a></li>
              </ul>
            </li>
            <li><a href="prosthetics">Protetika</a></li>
            <li><a href="oral">Oralna kirurgija</a></li>
          </ul>
        </li>
        <li><a href="#contact">Kontakt</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>

<router-outlet></router-outlet>

<footer id="footer" class="footer" *ngIf="showHeaderFooter">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="" class="d-flex align-items-center">
          <span class="sitename">MARIA ŠITIN</span>
        </a>
        <div class="footer-contact pt-3">
          <p>51000 Rijeka</p>
          <p class="mt-3"><strong>Telefon:</strong> <span>+385 123 456</span></p>
          <p><strong>Email: </strong> <span>infodentalsitin&#64;gmail.com</span></p>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Navigacija</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#hero">Početna</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#about">O nama</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#services">Usluge</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Usluge</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="endo">Endodoncija</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="ortho">Ortodoncija</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="prosthetics">Protetika</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="oral">Oralna kirurgija</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12">
        <h4>Društvene mreže</h4>
        <p>Pratite nas na društvenim mrežama!</p>
        <div class="social-links d-flex">
          <a href="https://x.com/?lang=en"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/maria.sitin"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/mariasitin/"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/katarina-tuhtan-7126252b9/"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename"><a href="https://katarinatuhtan.github.io/">Katarina Tuhtan</a> </strong> <span>All Rights Reserved</span></p>
  </div>
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</footer>