<div class="page-title" >
  <div class="container">
    <nav class="breadcrumbs">
      <ol>
        <li><a href="home">Početna</a></li>
        <li class="current">Usluge</li>
      </ol>
    </nav>
    <h1>Usluge</h1>
  </div>
</div>

<section id="service-details" class="service-details section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" >
          <div class="services-list">
            <a href="endo" >Endodoncija</a>
            <a href="ortho"class="active">Ortodoncija</a>
            <a href="prosthetics">Protetika</a>
            <a href="oral">Oralna kirurgija</a>
          </div>
        </div>

        
        <div class="col-lg-8" >
          <h3>Ortodoncija</h3>
          <section id="braces">
            <h4>Fiksni ortodontski aparatić</h4>
          <p>
            <strong>Tradicionalno rješenje za savršen osmijeh</strong> <br>
            Nudimo fiksne ortodontske aparatiće kao pouzdano i učinkovito rješenje za ravnanje zuba i ispravljanje zagriza. 
            Fiksni aparatići, koji uključuju metalne, keramičke i lingvalne bravice, dokazano su učinkoviti u postizanju željenih rezultata za sve dobne skupine.  <br>
            Nudimo:      
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> <span><strong>Metalni aparatić</strong></span></li>
            <p>Pouzdani i učinkoviti, idealni za sve dobi. <br> Mogućnost personalizacije boja gumica za zabavniji izgled. </p>
            <li><i class="bi bi-check-circle"></i> <span><strong>Keramički aparatić</strong></span></li>
            <p>Diskretnija alternativa metalnim bravicama. <br> Bravice u boji zuba za estetski prihvatljiviji izgled.</p>
            <li><i class="bi bi-check-circle"></i> <span><strong>Lingvalni aparatić</strong></span></li>
            <p>Postavlja se s unutarnje strane zuba. <br> Potpuno nevidljiv izvana, idealan za estetski osjetljive pacijente. </p>
          </ul>
          <img src="assets/braces.jpg" alt="" class="img-fluid services-img">
         </section>

         <section id="aligners">
          <h4>Nevidljiva ortodoncija</h4>
          <p>
            <strong>Diskretno i udobno ravnanje zuba</strong> <br>
            Nudimo nevidljive ortodontske aparatiće, odnosno alignere, koji predstavljaju moderno rješenje za ravnanje zuba. 
            Prozirni aligneri izrađeni su od medicinski sigurnih materijala i prilagođavaju se vašim zubima kako bi osigurali diskretan i udoban tretman.  <br>
            Nudimo:      
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> <span><strong>Invisalign</strong></span></li>
            <p>Individualno izrađeni prozirni aligneri koji se gotovo neprimjetno prilagođavaju vašim zubima.<br> 
              Idealni za odrasle i tinejdžere koji žele estetski prihvatljiv tretman. </p>
          </ul>
          <p><strong>Prednosti nevidljivog aparatića:</strong> <br>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span><strong>Estetika</strong></span></li>
              <p>Prozirni i gotovo neprimjetni aligneri za diskretan tretman. </p>
              <li><i class="bi bi-check-circle"></i> <span><strong>Udobnost i praktičnost</strong></span></li>
              <p>Aligneri su udobni za nošenje, lako se uklanjaju za jelo i održavanje oralne higijene. </p>
              <li><i class="bi bi-check-circle"></i> <span><strong>Napredna Tehnologija</strong></span></li>
              <p>Digitalno planiranje tretmana osigurava precizno pomicanje zuba i predvidljive rezultate. </p>
            </ul>
          <img src="assets/aligners.jpg" alt="" class="img-fluid services-img">
       </section>
        </div>

      </div>

    </div>

  </section><!-- /Service Details Section -->

