<section id="hero" class="hero section dark-background">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Vaš osmijeh, naša briga!</h1>
        <p>Naručite se na pregled već danas!</p>
        <div class="d-flex">
          <a href="#contact" class="btn-get-started">Naručite se</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/logo2.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="about section">

  <div class="container section-title">
    <h2>O nama</h2>
  </div>

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 content">
        <h3><strong>Dentalna poliklinika Šitin</strong></h3>
        <p>
          Dobrodošli u našu polikliniku dentalne medicine, gdje je vaš osmijeh naš prioritet!
          Naš tim vrhunskih stručnjaka posvećen je pružanju najkvalitetnije dentalne njege, kombinirajući najnovije
          tehnologije s individualnim pristupom
          svakom pacijentu.
          Vjerujemo da svaki osmijeh zaslužuje posebnu pažnju i trudimo se stvoriti ugodno i opuštajuće okruženje kako
          biste se osjećali sigurno i opušteno
          tijekom svakog posjeta. Naša misija je osigurati vam zdrav i lijep osmijeh, koristeći najmodernije metode i
          materijale. Posjetite nas i otkrijte
          zašto je naš osmijeh sinonim za povjerenje i kvalitetu. Vaše zadovoljstvo je naš najveći uspjeh.
        </p>
        <h5><strong>MARIA ŠITIN, DR.MED.DENT.</strong></h5>
        <p>Maria Šitin, dr.med.dent diplomirala je na Fakultetu dentalne medicine u Rijeci,
          Dekanovom nagradom proglašena je najboljom studenticom pet uzastopnih godina.
          Nakon završetka studija, nastavila je svoje usavršavanje kroz brojne specijalizacije i edukacije,
          fokusirajući se na najnovije tehnike i tehnologije u stomatologiji.
          S bogatim iskustvom i strastvenom predanošću dentalnoj medicini, dr. Šitin vodi naš tim stručnjaka,
          osiguravajući
          da svaki pacijent dobije najvišu razinu skrbi i pažnje. <br> <br>
          Dr. Maria Šitin ima jasnu viziju – pružiti vrhunsku dentalnu skrb koja je dostupna i pristupačna svima.
          Njezina misija je osigurati da svaki pacijent napusti polikliniku sa zdravim i blistavim osmijehom, zadovoljni
          pruženom uslugom i pažnjom.
        </p>
      </div>
      <div class="col-lg-6">
        <img src="assets/hero.jpeg" alt="" class="img-fluid services-img">
      </div>
    </div>
  </div>

</section>

<!-- Services Section -->
<section id="services" class="services section light-background">

  <div class="container section-title">
    <h2>Usluge</h2>
  </div>

  <div class="container">
    <div class="row gy-4">

      <div class="col-xl-3 col-md-6 d-flex">
        <div class="service-item position-relative">
          <h4><a href="endo" class="stretched-link">Ednodoncija</a></h4>
          <p>Naša specijalizirana usluga endodoncije uključuje precizno liječenje i spašavanje zuba zahvaćenih
            infekcijom ili karijesom,
            kako bismo očuvali vaše prirodne zube i osigurali optimalno oralno zdravlje.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex">
        <div class="service-item position-relative">
          <h4><a href="ortho" class="stretched-link">Ortodoncija</a></h4>
          <p>Naša ortodontska usluga nudi širok spektar rješenja za ravnanje zubi,
            uključujući tradicionalne ortodontske aparatiće i moderne nevidljive ortodontske sustave,
            kako bismo vam pomogli postići savršen osmijeh diskretno i učinkovito.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex">
        <div class="service-item position-relative">
          <h4><a href="prosthetics" class="stretched-link">Protetika</a></h4>
          <p>Naša protetska usluga pruža vrhunske nadomjestke za zube, uključujući krunice,
            mostove i proteze, kako bismo vam vratili funkcionalnost i estetski izgled vašeg osmijeha.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex">
        <div class="service-item position-relative">
          <h4><a href="oral" class="stretched-link">Oralna kirurgija</a></h4>
          <p>Naša usluga oralne kirurgije obuhvaća sveobuhvatne zahvate, od vađenja zuba do implantata,
            uz minimalnu nelagodu i maksimalnu stručnost za optimalne rezultate.</p>
        </div>
      </div>

    </div>
  </div>

</section>

<!-- Faq Section -->
<section id="faq" class="faq section light-background">

  <div class="container section-title">
    <h2>Često postavljena pitanja</h2>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="faq-container">

          <div class="faq-item faq-active">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Koliko često trebam posjećivati stomatologa?</h3>
            <div class="faq-content">
              <p>Preporučuje se posjetiti stomatologa svakih šest mjeseci radi redovitih pregleda i čišćenja
                kako bi se održalo optimalno oralno zdravlje i rano otkrile bilo kakve potencijalne probleme.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

          <div class="faq-item">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Što je nevidljiva ortodoncija i kako djeluje?</h3>
            <div class="faq-content">
              <p>Nevidljiva ortodoncija koristi prozirne alignere koji su gotovo neprimjetni, a dizajnirani su da
                postupno
                pomiču zube u željeni položaj. Ovi aligneri se prilagođavaju vašim zubima i mijenjaju se svaka dva
                tjedna kako bi se postigao savršen osmijeh.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

          <div class="faq-item">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Što uključuje endodontsko liječenje?</h3>
            <div class="faq-content">
              <p>Endodontsko liječenje, poznato i kao liječenje korijenskih kanala, uključuje uklanjanje zaražene pulpe
                zuba,
                čišćenje i dezinfekciju kanala te njihovo punjenje i zatvaranje kako bi se sačuvao prirodni zub i
                spriječile daljnje infekcije.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

          <div class="faq-item">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Koje su prednosti dentalnih implantata u odnosu na proteze?</h3>
            <div class="faq-content">
              <p>Dentalni implantati pružaju trajno i stabilno rješenje za nadomjestak izgubljenih zuba,
                omogućujući prirodniji izgled i osjećaj u usporedbi s protezama. Implantati također pomažu u očuvanju
                strukture čeljusti i sprječavaju gubitak kosti.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<!-- Contact Section -->
<section id="contact" class="contact section">

  <div class="container section-title">
    <h2>Kontakt</h2>
    <h5>Obrazac za rezervaciju termina možete ispuniti <a href="reservation">ovdje.</a> </h5>
  </div>
  <div class="container">
    <div class="info-wrap">
      <div class="info-item d-flex">
        <i class="bi bi-geo-alt flex-shrink-0"></i>
        <div>
          <h3>Posjetite nas</h3>
          <p>51000 Rijeka</p>
        </div>
      </div>

      <div class="info-item d-flex">
        <i class="bi bi-telephone flex-shrink-0"></i>
        <div>
          <h3>Nazovite nas</h3>
          <p>+385 123 456</p>
        </div>
      </div>

      <div class="info-item d-flex">
        <i class="bi bi-envelope flex-shrink-0"></i>
        <div>
          <h3>Email kontakt</h3>
          <p><a href="mailto:infodentalsitin@gmail.com">infodentalsitin&#64;gmail.com</a></p>
        </div>
      </div>

    </div>
  </div>
</section>